%h3.page-title
  分配给我的 Issues 
  %span.pull-right #{@issues.total_count} issues

%p.light
  For all issues you should visit the project's issues page, or use the search panel to find a specific issue.
%hr

.row
  .span3
    = render 'shared/filter', entity: 'issue'
  .span9
    = render 'shared/issues'
