= render "projects/commits/head"

%h3.page-title
  浏览对比
%p.slead
  对比分支,标签或提交的范围.
  %br
  填写提交ID, 例如
  %code.label-branch 4eedf23
  或 分析/标签的名称
  %code.label-branch master
  并且点击 "对比" 按钮.
  %br
  Changes are shown <b>from</b> the version in the first field <b>to</b> the version in the second field.

= render "form"
