%div
  = form_for [@project, @key], url: project_deploy_keys_path do |f|
    -if @key.errors.any?
      .alert.alert-error
        %ul
          - @key.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      = f.label :title
      .controls= f.text_field :title, class: 'input-xlarge'
    .control-group
      = f.label :key
      .controls
        %p.light
          请把 "公钥" 粘贴到下面. 如果不知道怎么创建钥匙, 请点击
          = link_to "这里", help_ssh_path
        = f.text_area :key, class: "input-xxlarge thin_area"

    .form-actions
      = f.submit '提交', class: "btn-create btn"
      = link_to "取消", project_deploy_keys_path(@project), class: "btn btn-cancel"

