!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "公开的项目"
  %body{class: "#{app_theme} application", :'data-page' => body_data_page}
    - if current_user
      = render "layouts/head_panel", title: "公开的项目"
    - else
      %header.navbar.navbar-static-top.navbar-gitlab
        .navbar-inner
          .container
            %div.app_logo
              %span.separator
              = link_to public_root_path, class: "home" do
                %h1 GITLAB
              %span.separator
            %h1.project_name 公开的项目
            %ul.nav
              %li
                %a
                  %div.hide.turbolink-spinner
                    %i.icon-refresh.icon-spin
                    加载中 ...
              %li
                = link_to "登录", new_session_path(:user)

    .container.navless-container
      .content
        = yield
